<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" date-toggle="collapse"data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://generalassemb.ly"><span class="red">G</span>eneral <span class="red">A</span>ssembly</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/boards">Forums</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li class="active">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


	<div class="white container">

			<h1>Contact us</h1><br>
        <p>Looking to get in touch? We'd love to hear from you! Email is the best way to reach us, as we enjoy chatting, but are very self-conscious about our voices. Feel free to contact any of the following addresses – based on the nature of your inquiry – and we’ll get back to you as fast as our fingers will allow.<br><br>
          If you've got a question that feels like it's of the frequently-asked variety, check out our FAQ page. You might find the answer you're looking for without even having to ask.</p>

          <h4>Campus Information</h4>

          New York City: classes@generalassemb.ly<br>
          Atlanta: atlanta@generalassemb.ly<br>
          Austin: austin@generalassemb.ly<br>
          Boston: boston@generalassemb.ly<br>
          Chicago: chicago@generalassemb.ly<br>
          Hong Kong: hk@generalassemb.ly<br>
          London: london@generalassemb.ly<br>
          Los Angeles: la@generalassemb.ly<br>
          Melbourne: melbourne@generalassemb.ly<br>
          San Francisco: sf@generalassemb.ly<br>
          Seattle: seattle@generalassemb.ly<br>
          Singapore: singapore@generalassemb.ly<br>
          Sydney: sydney@generalassemb.ly<br>
          Washington D.C.: dc@generalassemb.ly<br>

          <h4>Phone Information</h4>

          All US Campuses: +1 (877) 348-5665

          <h4>Other Information</h4>

          Online Classes & Livestreams: online@generalassemb.ly<br>
          Enterprise Education: enterprise@generalassemb.ly<br>
          Press: press@generalassemb.ly<br>
          Legal: legal@generalassemb.ly<br>
          Questions? Comments? Suggestions? Recipes? hello@generalassemb.ly<br><br>

	</div>
</div>

